/* --------------------------Global Styling ----------------------------*/

*{
  box-sizing: border-box;
}

main {
  margin-left: 6%;
  margin-right: 6%;
}

/* -----------------------------------Header----------------------------*/

header {
  height:700px;
  background-repeat: no-repeat;
  background-image: url("../img/disney-background-img.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: 100%;
}

#thymely-navlinks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
  margin-left: 6%;
  margin-right: 6%;
  padding-top: 4%;
}

#thymely-navlinks h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 150%;
  font-weight: 800;
  color:#efac90;
  transition:color 0.3s ease;
  transition: transform 1s;
}

#thymely-navlinks h3:hover {
  color: #F5C3AE;
  transform: scale(1.3);
}

#thymely-navlinks nav{
  width: 500px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  letter-spacing: 1px;
}

#thymely-navlinks a{
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 1%;;
  padding-right: 1%;;
  padding-top: 1%;
  padding-bottom: 1%;
  color:#CFA593;
  transition:all 0.3s ease;
}

#thymely-navlinks a:hover {
  color: #e8e1de;
  border: 8px solid #DD5844;
  border-radius: 8px;
  background-color: #DD5844;
}
     
#thymely-herotitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#thymely-herotitle img{
  width:120px;
  margin-top: 2%;
  margin-bottom: 1%;
  transition: transform 1s;
}

#thymely-herotitle img:hover {
  transform: scale(1.3);
}

#thymely-herotitle h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
  margin-bottom: 1%;
  letter-spacing: 1px;
  color: #DD5844;
  transition:all 0.3s ease;
  transition: transform 1s;
}

#thymely-herotitle h2:hover {
  color: #de7c6d;
  transform: scale(1.3);
}

#thymely-herotitle h1{
  font-family: 'Oswald', sans-serif;
  font-size: 400%;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 15%;
  color:#efac90;
  transition:color 0.3s ease;
  transition: transform 1s;
}

#thymely-herotitle h1:hover {
  color: #F5C3AE;
  transform: scale(1.1);
}

/* ----------------------------Index.html Main ---------------------------------*/

#thymely-sectionone {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 10%;
  margin-bottom: 10%;
}

#thymely-intro, #thymely-form {
  width: 40%;
  margin-left: 2%;
  margin-right: 2%;
}

#thymely-intro h2 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
  margin-bottom: 1%;
  letter-spacing: 1px;
  color:#777777;
  transition:all 0.5s ease;
}

#thymely-intro h2:hover {
  color: #DD5844;
}

#thymely-intro h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 300%;
  font-weight: 600;
  color:#2C2C2C;
  transition:all 0.5s ease;
}

#thymely-intro h1:hover {
  color: #6F62D0;
}

#thymely-intro p {
  font-family: 'Montserrat', sans-serif;
  font-size: 170%;
  margin-top: 6%;
  margin-bottom: 6%;
  color: #4E4E4E;
  transition:all 0.5s ease;
}

#thymely-intro p:hover {
  color: #F5C3AE;
}

#thymely-intro img{
  width: 100%;
  border: 8px solid #6F62D0;
  border-radius: 8px;
  margin-top: 2%;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

#thymely-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#thymely-form h1{
  font-family: 'Oswald', sans-serif;
  font-size: 300%;
  font-weight: 600;
  margin-top: 4%;
  margin-bottom: 6%;
  transition:all 0.5s ease; 
}

#thymely-form h1:hover {
  /*Disneys secret green color*/
  color: #8DA487; 
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: 360px;
  border: 8px solid #38326A;
  border-radius: 8px;
  padding:50px;
  text-align: left;
  background-color: #6F62D0;
}

select {
  font-size: 20pt;
  width: 90%;
  border-radius: 8px;
  padding: 5px;
  display: block;
  margin-bottom: 8%;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  background-color: #d3cdff;
  transition:all 0.3s ease;
}

select:hover {
  background-color: #eceafd;
}

label {
  font-family: 'Oswald', sans-serif;
  font-size: 25pt;
  margin-left: 15px;
  color: #E8B9A5;
  transition:all 1s ease;
}

label:hover {
  color: #EA8D58;
}

#thymely-form button {
  border: 8px solid #5E251D;
  background-color: #EA8D58;
  color: #5E251D;
  border-radius: 40px;
  padding: 8px 20px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 18pt;
  margin-bottom: 20px;
  margin-top: 40px;
  width: 30%;
  transition:all 0.8s ease;
  transition:margin-top 0.8s ease;
}

#thymely-form button:focus, #thymely-form button:hover {
  /*Disneys secret green color*/
  background-color: #8DA487; 
  border: 8px solid #4d5a4a;
  color: #E3E3E3;
  border-radius:50%;
  width:150px;
  margin-top: 20px;
  padding: 28px;
} 

/* ----------------------------about.html ---------------------------------*/

#thymely-about-heading{
  width: 40%;
  margin-left: 6%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

#thymely-about-heading h2 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
  margin-bottom: 1%;
  letter-spacing: 1px;
  margin-left: 2.5%;
  color:#777777;
  transition:all 0.5s ease;
}

#thymely-about-heading h2:hover {
color: #DD5844;
}

#thymely-about-heading h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 300%;
  font-weight: 600;
  margin-left: 2%;
  color:#2C2C2C;
  transition:all 0.5s ease;
}

#thymely-about-heading h1:hover {
color: #6F62D0;
}

#thymely-about-articles {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 750px;
}

#thymely-about-articles article {
  padding-left: 2%;
  padding-right:2%;
}

#thymely-about-articles img {
  width: 100px;
  width: 250px;
  border: 8px solid #38326A;
  border-radius: 8px; 
}

#thymely-about-articles h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
  font-weight: 600;
  margin-bottom: 6%;
  text-transform: capitalize;
  color:#2C2C2C;
  transition:all 0.5s ease;
  width: 270px;
}

#thymely-about-articles h2:hover {
  /*Disneys secret green color*/
  color: #8DA487; 
}

#thymely-about-section h3 a{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  margin-bottom: 1%;
  letter-spacing: 1px;
  color:#4E4E4E;
  margin-left: 2%;
  transition:all 0.5s ease;
}

#thymely-about-section h3 a:hover {
  color: #6F62D0;
}

#thymely-about-articles p {
  font-family: 'Montserrat', sans-serif;
  font-size: 130%;
  margin-top: 8%;
  color:#777777;
  width: 255px;
  transition:all 0.5s ease;
  line-height: 23px;
  text-align: left;
}

#thymely-about-articles p:hover {
color: #F5C3AE;
}

#thymely-team-member-one, #thymely-team-member-two, #thymely-team-member-three, #thymely-team-member-four {
  border-radius: 25px;
  padding: 10px;
  width: 300px;
  height: 325px;
  perspective: 1000px;
}

#thymely-marquesa-cardflip, #thymely-sarah-cardflip, #thymely-alex-cardflip, #thymely-joe-cardflip {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
  margin-bottom: 20%;
}

#thymely-marquesa-cardflip:hover, #thymely-sarah-cardflip:hover, #thymely-alex-cardflip:hover, #thymely-joe-cardflip:hover {
  transform: rotateY(180deg);
}

#thymely-marquesa-img-front, #thymely-sarah-img-front, #thymely-alex-img-front, #thymely-joe-img-front {
  position: absolute;
  border-radius: 25px;
  backface-visibility: hidden;
}

/* ----------------------------results.html ---------------------------------*/

#thymely-results-page {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#thymely-results-page div{
  width: 40%;
  margin-left: 8%;
  margin-right: 2%;
  height: 60%;
}

#thymely-results-page h3 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
  margin-bottom: 1%;
  letter-spacing: 1px;
  margin-left: 2.5%;
  transition:all 0.5s ease;
}

#thymely-results-page h3:hover {
  color: #DD5844;
}

#thymely-results-page h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 300%;
  font-weight: 600;
  margin-left: 2%;
  transition:all 0.5s ease;
}

#thymely-results-page h1:hover {
color: #6F62D0;
}

#thymely-results-page h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 250%;
  font-weight: 600;
  margin-left: 2%;
  margin-bottom: 4%;
  margin-top: 6%;
  letter-spacing: 1px;
  transition:all 0.5s ease;
}

#thymely-results-page h2:hover {
  /*Disneys secret green color*/
  color: #8DA487; 
}

#thymely-results-page img {
  width: 60%;
  border: 8px solid #38326A;
}

#thymely-results-page p {
  font-family: 'Montserrat', sans-serif;
  color:#777777;
  font-size: 150%;
  margin-top: 6%;;
  margin-bottom: 8%;
  margin-left: 2%;
  transition:all 0.5s ease;
}

#thymely-results-page p:hover {
color: #F5C3AE;
}

#thymely-results-page button{
  border: 8px solid #5E251D;
  background-color: #EA8D58;
  color: #5E251D;
  border-radius: 40px;
  padding: 8px 20px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 18pt;
  margin-bottom: 10%;
  margin-top: 6%;
  width: 14%;
  transition:all 0.8s ease;
  transition:margin-top 0.8s ease;
}

#thymely-results-page button:focus, #thymely-results-page button:hover {
  /*Disneys secret green color*/
  background-color: #8DA487; 
  border: 8px solid #4d5a4a;
  color: #E3E3E3;
  border-radius:50%;
  margin-top: 20px;
  padding: 25px;
  width:150px;
} 

/* ------------------------------Footer ---------------------------------*/

footer {
  background-image: url("../img/footer-img.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: 100%;
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h3{
  margin-top: 2%;
  margin-bottom: 4%;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  color:#777777;
  width: 600px;
  text-align: center;
  line-height: 20px;
}

footer h3 a{
  color: #777777;
  transition:all 0.5s ease;
}
footer h3 a:hover{
  color: #B1B1B1;
}

#thymely-footer-nav {
  margin-top: 4%;
}

footer nav{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  display: inline;
  font-size: 100%;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

footer nav a{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0.5%;;
  padding-right: 0.5%;;
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  color: #CFA593;
  transition:all 0.3s ease;
}

footer nav a:hover {
  color: #e8e1de;
  border: 8px solid #DD5844;
  border-radius: 8px;
  background-color: #DD5844;
}



/*
animation: wiggle 2s ease;
  animation-iteration-count: 1;  
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-2deg);
  }
  20% {
    transform: rotateZ(2deg);
  }
  25% {
    transform: rotateZ(-4deg);
  }
  30% {
    transform: rotateZ(4deg);
  }
  35% {
    transform: rotateZ(-1deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}*/